form {
    max-width: 400px;
    margin: 0 auto; /* center the form horizontally */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 15px; /* space elements */
}

form label {
    display: block;
    font-weight: bold;
}

form button {
    width: 100%;
    padding: 10px; /* padding inside button */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}